<header></header>

<div class="account-root">
  <!--<div [class.isHidden]="(activeState | async) !== 'home'">-->
    <!--<home></home>-->
  <!--</div>-->

  <trips-list></trips-list>

  <!--<creator></creator>-->

  <div [class.isHidden]="(activeState | async) !== 'profile'">
    <profile></profile>
  </div>

  <!--<div [class.isHidden]="(activeState | async) !== 'search'">-->
    <!--<search></search>-->
  <!--</div>-->

  <div [class.isHidden]="(activeState | async) !== 'settings'">
    <settings></settings>
  </div>

  <dynamic-loader></dynamic-loader>
</div>

<bottom-nav></bottom-nav>
