@import "global";

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  z-index: 50;
  width: 100vw;
  height: @bottom-nav-height;
  box-shadow: -1px -2px 5px -1px rgba(119,119,119,0.34);
  background-color: white;
}

.bottom-nav__button {
  height: 70px;
  width: 70px;

  &-gray {
    color: darkgray;
  }
}
