<div class="bottom-nav">
  <button mat-button
          mat-icon-button
          class="bottom-nav__button"
          [color]="(activeState | async) === 'search' ? 'primary': ''"
          (click)="changeAppState('search')">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-button
          mat-icon-button
          class="bottom-nav__button"
          [color]="(activeState | async) === 'travels' ? 'primary': ''"
          (click)="changeAppState('travels')">
    <mat-icon>card_travel</mat-icon>
  </button>

  <button mat-button
          mat-icon-button
          class="bottom-nav__button"
          [color]="(activeState | async) === 'home' ? 'primary': ''"
          (click)="changeAppState('home')">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-button
          mat-icon-button
          class="bottom-nav__button"
          [color]="(activeState | async) === 'profile' ? 'primary': ''"
          (click)="changeAppState('profile')">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-button
          mat-icon-button
          class="bottom-nav__button"
          [color]="(activeState | async) === 'settings' ? 'primary': ''"
          (click)="changeAppState('settings')">
    <mat-icon>settings</mat-icon>
  </button>
</div>
