<div class="trip-root">
  <cdk-virtual-scroll-viewport class="trip-wrapper" itemSize="5" minBufferPx="800" maxBufferPx="1000">
    <div class="trip-card"
         *cdkVirtualFor="let trip of trips; templateCacheSize: 0">

      <img class="trip-card__img" [src]="trip.photoUrl">

      <div class="trip-card__content">
        <p class="trip-card__title">{{trip.title}}</p>

        <div class="trip-card__info">

          <div class="trip-card__info-content">
            <mat-icon *ngIf="trip.startDate" class="trip-card__info-icon">flight_takeoff</mat-icon>
            <p *ngIf="trip.startDate" class="trip-card__info-text">{{trip.startDate | date: 'longDate'}}</p>
          </div>

          <div class="trip-card__info-content">
            <mat-icon *ngIf="trip.endDate" class="trip-card__info-icon">flight_land</mat-icon>
            <p *ngIf="trip.endDate" class="trip-card__info-text">{{trip.endDate | date: 'longDate'}}</p>
          </div>

          <div class="trip-card__info-content">
            <mat-icon class="trip-card__info-icon">place</mat-icon>
            <div *ngIf="trip.path" class="trip-card__info-places">
              <div class="trip-card__places" *ngFor="let place of trip.path; last as isLast">

                <ng-container *ngIf="!!place.country && !!place.city">
                  <p *ngIf="place.country" class="trip-card__places-text">{{place.country}},&nbsp;{{place.city}}</p>
                  <mat-icon *ngIf="!isLast" class="trip-card__places-icon">arrow_forward</mat-icon>
                </ng-container>

                <ng-container *ngIf="!!place.country && !place.city">
                  <p *ngIf="place.country" class="trip-card__places-text">{{place.country}}</p>
                  <mat-icon *ngIf="!isLast" class="trip-card__places-icon">arrow_forward</mat-icon>
                </ng-container>

                <ng-container *ngIf="!place.country && !!place.city">
                  <p *ngIf="place.country" class="trip-card__places-text">{{place.city}}</p>
                  <mat-icon *ngIf="!isLast" class="trip-card__places-icon">arrow_forward</mat-icon>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
