<div class="profile-root" [class.isHidden]="(isComponentHidden$ | async)">
  <div style="display: block">
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
    profile works!
    <br>
  </div>
  <trips-list [mustBeVisible]="true" [hideAddButton]="true" [containerHeight]="tripsContainerHeight$ | async"></trips-list>
</div>
