<div class="sign-up-root">
  <mat-form-field class="item" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="item" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="item" appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="item" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="item" appearance="outline">
    <mat-label>Repeat password</mat-label>
    <input matInput>
  </mat-form-field>

  <button class="item" mat-raised-button color="primary">Sign up</button>

  <p class="info">Have account already? <span routerLink="/auth/sign-in" class="info-btn">Sign in</span></p>
</div>
