@import "global";

.header {
  position: relative;
  z-index: 500;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: @header-height;
  background-color: rgba(2, 119, 189, 0);
  will-change: top;
  color: white;
  padding: 0 @main-margin;
  box-sizing: border-box;

  &-back {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: -8px;

    &-icon {
      color: white;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
  }

  &-action {
    position: absolute;
    right: @main-margin;
  }

  &-action-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;

    &__icon {
      color: white;
    }
  }

  &-item {
    margin-right: 5px;
  }
}

.isTransparent {
  position: absolute;
  transition: background-color;
}
