@import "global";

.trip-detail-root {
  @root();
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-sizing: border-box;
}

.detail-info {
  margin: @main-margin;

  &__card {
    padding-bottom: 0 !important;

    &::after {
      display: block;
      position: absolute;
      background-image: linear-gradient(to top,rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 100%);
      margin-top: -50px;
      height: 50px;
      width: 100%;
      margin-left: -@main-margin;
      border-radius: 4px;
      content: '';
    }

    &-img {
      height: 200px;
      object-fit: cover;
      transform: translateY(3px);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &-upload {
      position: absolute;
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      bottom: @main-margin;
      right: @main-margin;
      z-index: 100;

      &-icon {
        position: relative;
        width: 25px;
        height: 25px;
        font-size: 25px;
        color: white;
        pointer-events: none;
      }
    }
  }

  &__upload {

    &-placeholder {
      display: flex;
      align-items: center;
      height: 50px;

      &-icon {
        margin: auto;
        color: gray;
        width: 40px;
        height: 40px;
        font-size: 40px;
        pointer-events: none;
      }
    }
  }

  &__title {
    width: calc(~"100% - 2 * @{main-margin}");
    margin-bottom: 0;
    font-size: 20px;
  }

  &__dates {
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      max-width: 100%;
    }

    &-item {
      width: 100px;
      font-size: 15px;
    }
  }

  &__places {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    &-item {
      width: 120px;
      font-size: 15px;
      &::ng-deep .mat-form-field-underline {
        position: static;
        visibility: visible;
      }
    }

    &-icon {
      color: darkgray;
      height: 20px;
      width: 20px;
      font-size: 20px;
      align-self: flex-end;
    }

    &-items {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: 100%;
    }
  }
}
