<div class="trip-detail-root" [class.isHidden]="isComponentHidden$ | async">
  <form [formGroup]="form">
    <mat-form-field class="detail-info detail-info__title" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-card class="detail-info detail-info__card"
              *ngIf="!forTripCreation && trip.photoUrl || photoUrlToUpload">
      <mat-card-header>
        <mat-card-title>Image</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           class="detail-info__card-img"
           [src]="(!!trip && !photoUrlToUpload ? trip.photoUrl : photoUrlToUpload) | safeHtml"
           alt="Trip image">
      <div class="detail-info__card-upload" (click)="uploadFile.click()">
        <mat-icon class="detail-info__card-upload-icon">add_a_photo</mat-icon>
      </div>
    </mat-card>

    <mat-card class="detail-info detail-info__upload"
              matRipple
              *ngIf="(forTripCreation || (trip && !trip.photoUrl)) && !photoUrlToUpload">
      <div class="detail-info__upload-placeholder" (click)="uploadFile.click()">
        <mat-icon class="detail-info__upload-placeholder-icon">add_a_photo</mat-icon>
      </div>
    </mat-card>

    <input #uploadFile type="file" accept="image/*" [hidden]="true" (change)="onFileUpload($event)">

    <mat-card class="detail-info detail-info__dates">
      <mat-card-header>
        <mat-card-title>Dates</mat-card-title>
      </mat-card-header>
      <div class="detail-info__dates-content">
        <mat-form-field class="detail-info__dates-item">
          <input matInput
                 formControlName="startDate"
                 [matDatepicker]="startPicker"
                 placeholder="Start"
                 readonly
                 (click)="startPicker.open()">
          <mat-datepicker-toggle matPrefix
                                 [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi
                          #startPicker
                          disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="detail-info__dates-item">
          <input matInput
                 formControlName="endDate"
                 [matDatepicker]="endPicker"
                 placeholder="Finish"
                 readonly
                 (click)="endPicker.open()">
          <mat-datepicker-toggle matPrefix
                                 [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi
                          #endPicker
                          disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="detail-info detail-info__places">
      <mat-card-header>
        <mat-card-title>Visited places</mat-card-title>
      </mat-card-header>
      <div class="detail-info__places-content">
        <div *ngFor="let path of tripPaths; let indx = index; first as isFirst"
             class="detail-info__places-items">
          <mat-form-field class="detail-info__places-item">
            <input matInput
                   name="from-{{indx}}"
                   [placeholder]="isFirst ? 'From' : ''"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="path.from">
          </mat-form-field>

          <mat-icon class="detail-info__places-icon">arrow_forward</mat-icon>

          <mat-form-field class="detail-info__places-item">
            <input matInput
                   name="to-{{indx}}"
                   [placeholder]="isFirst ? 'To' : ''"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="path.to">
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button
                color="primary"
                (click)="onAddPathRow()">ADD</button>
        <button mat-button
                color="warn"
                (click)="onDeletePathRow()">REMOVE</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <button *ngIf="!!trip" class="detail-info" mat-raised-button color="warn" (click)="onDeleteTrip()">DELETE TRIP</button>
</div>
