@import "shared/sharedStyles/global";

html {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -2;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: calc(~"100% - @{bottom-nav-height} - 2px");
  width: 100%;
  z-index: -2;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
