@import "card";
@import "global";

.trip-root {
  @root();
  overflow: hidden;
  transform: translateZ(0);
  will-change: transform;
  scroll-behavior: smooth;
}

.trip-container {
  position: relative;
  width: 100%;
  height: calc(~"100% - @{header-height}");
  transform: translateZ(0);
  will-change: transform;
  scroll-behavior: smooth;
}

.trip-card {
  @card();
  display:flex;
  height: 200px;
  min-height: 200px;
  color: white;

  &__content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
  }

  &__places {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3px;

    &-text {
      font-size: 10px;
      margin: 0;
    }

    &-icon {
      height: 16px;
      width: 16px;
      font-size: 16px;
      margin: 0 2px;
    }
  }

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: calc(~"100% - 20px");
    margin: 0;
    bottom: 10px;
    font-size: 12px;

    &-content {
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 3px;
    }

    &-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
      margin-right: 2px;
      align-self: flex-start;
    }

    &-text {
      margin: 0;
    }

    &-places {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-basis: calc(~"100% - 20px");
      align-items: center;
    }
  }

  &__title {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }

  &__icon {
    height: 80%;
    align-self: center;
    margin: 0 auto;
  }
}

.add-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: bottom .2s ease-in-out;

  &-hidden {
    bottom: -100px;
  }
}

.trips-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img {
    width: 150px;
    height: 150px;
  }

  &__text {
  }
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 300;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: @header-height;
  border-top: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  will-change: top;
  color: dimgray;
  padding: 0 @main-margin;
  box-sizing: border-box;

  &-title {
    font-weight: bold;
    font-size: 18px;
  }

  &-action-icon {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;

    &__icon {
      color: dimgray;
    }
  }
}
