<div class="trip-root"
     [class.isHidden]="(isComponentHidden$ | async)"
     [style.height]="containerHeight">
  <div class="header">
    <div class="header-title header-item">
      Trips
    </div>
    <button class="header-action-icon"
            mat-button
            mat-icon-button
            (click)="createTrip()">
      <mat-icon class="header-action-icon__icon">add</mat-icon>
    </button>
  </div>

  <cdk-virtual-scroll-viewport #containerRef
                               class="trip-container" itemSize="50"
                               minBufferPx="800"
                               maxBufferPx="1000">
    <ng-container *ngIf="tripsLoaded$ | async">
      <div class="trip-card"
           *cdkVirtualFor="let trip of trips$ | async; templateCacheSize: 0; trackBy: trackByFn"
           [scrollableContainer]="container"
           (deferLoad)="loadImage(trip)"
           (click)="openTrip(trip)">

        <img class="trip-card__img"
             [src]="trip.isImageShown ? (trip.localPhotoUrl | safeHtml) : ''"
             (load)="loadedImage(trip)"
             [hidden]="!trip.isImageLoaded">

        <div class="trip-card__content">
          <p class="trip-card__title">{{trip.title}}</p>

          <div class="trip-card__info">

            <div *ngIf="trip.startDate" class="trip-card__info-content">
              <mat-icon class="trip-card__info-icon">flight_takeoff</mat-icon>
              <p class="trip-card__info-text">{{trip.startDate | date: 'longDate'}}</p>
            </div>

            <div *ngIf="trip.endDate" class="trip-card__info-content">
              <mat-icon class="trip-card__info-icon">flight_land</mat-icon>
              <p class="trip-card__info-text">{{trip.endDate | date: 'longDate'}}</p>
            </div>

            <div *ngIf="trip.path.length > 0" class="trip-card__info-content">
              <mat-icon class="trip-card__info-icon">place</mat-icon>
              <div class="trip-card__info-places">
                <div class="trip-card__places" *ngFor="let place of trip.path; last as isLast; trackBy: trackByFn">
                  <p class="trip-card__places-text">{{place}}</p>
                  <mat-icon *ngIf="!isLast" class="trip-card__places-icon">arrow_forward</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>

  <button #addButtonRef
          class="add-button"
          *ngIf="!hideAddButton"
          (click)="createTrip()"
          mat-fab color="warn">
    <mat-icon>add</mat-icon>
  </button>
  
  <div *ngIf="(tripsLoaded$ | async) && (trips$ | async).length === 0" class="trips-placeholder">
    <img class="trips-placeholder__img" src="images/world.svg">
    <p class="trips-placeholder__text">
      You do&nbsp;not have trips yet.
      <br>
      Create an&nbsp;amazing trip now!
    </p>
  </div>
</div>
